{% extends 'base.html' %}

{% block title %}

TEST :: {{ block.super}}

{% endblock %}

{% block sidebar %} 
    {% include 'inc/_sidebar.html' %}
{% endblock  %}
{% block content %}

<div class="col-6"  style="overflow: auto; height: 400px ">
{% for item in questions %}
{{ item.question_text }} 
<br>
    <br>
        
        <input class="form-check-input" type="radio" name=" {{ item.question_text  }} " id="radioNoLabel1" value="" aria-label="">
        <label class="form-check-label" for="inlineRadio1">A) {{ item.a }} </label>
        <br>
        <input class="form-check-input" type="radio" name=" {{ item.question_text  }} " id="radioNoLabel1" value="b" aria-label="b)">
        <label class="form-check-label" for="inlineRadio1">B) {{ item.b }} </label>
        <br>
        
        <input class="form-check-input" type="radio" name=" {{ item.question_text  }} " id="radioNoLabel1" value="c" aria-label="c)">
        <label class="form-check-label" for="inlineRadio1">C) {{ item.c }} </label>
        <br>
        
        <input class="form-check-input" type="radio" name=" {{ item.question_text  }} " id="radioNoLabel1" value="d" aria-label="d)">
        <label class="form-check-label" for="inlineRadio1">D) {{ item.d }} </label>
        <br>
        <br>
{% endfor  %}
<br>

</div>
{% endblock  %}